*,
:before,
:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 19% 81%;
  height: 90vh;
}

#sidebar-wrapper {
  background-color: lightgray;
  height: 100vh;
  padding: 8px;
  width: 17rem;
}

.list-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: start;
  list-style: none;
  padding: 40px 10px;
  gap: 10px;
  margin-top: 130px;
}

.active {
  /* background-color: #0947A6; */
  color: white;
}

.list-group-item:hover {
  background-color: #0947A6;
  color: white;
  text-decoration: none;
}

.list-group-item.active {
  background-color: #0947A6;
  color: white;
  text-decoration: none;
}

.list-group-item {
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-radius: 5px;
  padding: 4px 40px;
}

#page-content-wrapper-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  min-width: 100vw;
  flex-direction: column;
}

#page-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  position: absolute;
    top: 50%;
    left: 40%;
}

h2 {
  padding: 10px 0;
  margin-bottom: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
  height: 200px;
  width: 300px;
  box-shadow: 1px 1px 4px rgb(71, 71, 71);
}

.input-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}

.input-main label {
  margin: 7px 0;
}

.input-field {
  border-radius: 4px;
  width: 100%;
  height: 30px;
  padding: 4px 2px;
}

.submit-btn {
  text-decoration: none;
  padding: 4px 40px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #0947A6;
  color: white;
  cursor: pointer;
}

.dropdown-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ccc; */
}

.drop-down {
  border: 2px solid #000;
  padding: 20px;
  margin: 4rem 0 4rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 20rem;
}

.main-select {
  padding: 10px;
  width: 100%;
  border: 2px solid #000;
}

.drop-btn {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  color: #333;
  border: none;
  cursor: pointer;
  width: 100%;
  border: 2px solid #000;
}

.drop-btn:hover {
  background-color: #ddd;
}

#arrow2 {
  padding: 5px;
}

#tree-leaf-item {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 13rem;
  max-height: 170px;
  border: 1px solid #494949;
  z-index: 1;
  overflow-y: auto;
}

#tree-leaf-item::-webkit-scrollbar {
  display: none;
}

.input-filter {
  margin: 10px 0;
  border: 2px solid black;
}

.filter {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}

/* Scrollable list */
.list {
  display: flex;
  flex-direction: column;
  height: 200px;
  overflow-y: auto;
  border: 2px solid #000;
}

.list::-webkit-scrollbar {
  display: none;
}

/* List items */
.list-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

/* Hover effect on list items */
.list-btn:hover {
  background-color: #f5f5f5;
}

.insert-btn {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.insert-btn a {
  border: 2px solid #000;
  color: #000;
  font-weight: 500;
  padding: 5px 15px;
  text-decoration: none;
  box-shadow: 2px 2px 1px #000;
}

/* Dropdown container */
.list-drop-down {
  display: inline-block;
  width: 100%;
}

/* Dropdown button */
.dropbtn {
  color: #000;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: start;
  border-bottom: 1px solid #ccc;
}

.tree-leaf-item {
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
}

.tree-leaf-item li {
  color: black;
  padding: 10px;
  display: block;
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 2rem;
}

.tree-leaf-item li:hover {
  background-color: #f1f1f1;
}

.diagramsClass li.selected {
  background-color: #0947A6;
  color: #ccc;
}

.responsive {
  width: auto;
  max-width: 90%;
  height: auto;
  max-height: 70%;
  display: grid;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
}

svg, img, canvas {
  display: block;
}

.savedMsg {
    display: contents;
    color: green;
}

#list-content {
  display: none;
}

ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 10px 0 0 20px;
  padding: 0 0 10px 0;
}

.project-list-item {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.project-list-item::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.project-list-item-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);  
}

.unordered-list-item {
  display: none;
}

.activate {
  display: block;
}

.btn.active {
  background-color: #1e3a8a;
  border-color: #1e3a8a;
  color: white;
}

.cp-image-container{
  width: auto !important;
}