<form class="aui" action="savePluginSettings.action" method="post">
    <div class="field-group">
        <label for="base-url">Base URL</label>
        <input class="text" type="text" id="base-url" name="base-url" value="$baseURL">
    </div>
    <div class="field-group">
        <label for="token">Token</label>
        <input class="text" type="text" id="token" name="token" value="$token">
    </div>
    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit" value="Save">
        </div>
    </div>
</form>
