<!DOCTYPE html>
<html>
  <head>
    <title>$i18n.getText("mermaid-chart-ops.listing-page-title")</title>
    <meta name="decorator" content="atl.general"/>
    $webResourceManager.requireResource("com.plugin.mermaidchart.mermaidchart-plugin:mermaidchart-plugin-resources")
  </head>
  <body>

    <div id="toast-warning" class="absolute right-10 top-10 flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert" style="display: none;">
			<div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-orange-700 dark:text-orange-200">
				<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
					<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
				</svg>
				<span class="sr-only">Warning icon</span>
			</div>
			<div class="ml-3 text-sm font-normal">Please configure settings. Redirecting towards settings...</div>
			<button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" onclick="closeToast()" data-dismiss-target="#toast-warning" aria-label="Close">
				<span class="sr-only">Close</span>
				<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
				</svg>
			</button>
		</div>

    <input id="validateSettings" value="$securityToken" hidden />

    <div class="main bg-white">
        <!-- Sidebar-->
      <div id="sidebar-wrapper">
        <div>
          <div class="btn-group flex flex-col items-center w-full h-auto p-2" role="group">
            <img class="py-24 w-36 h-auto" src="/jira/download/resources/com.plugin.mermaidchart.mermaidchart-plugin:mermaidchart-plugin-resources/images/logo-full-pink.svg" />
            <button id="diagram" class="btn active bg-transparent w-10/12 h-auto p-4 hover:bg-blue-600 text-blue-600 hover:text-white py-2 px-4 border border-blue-600 hover:border-transparent rounded-md">Diagrams</button>
            <hr class="w-10/12 mt-8 h-0.5 bg-zinc-400">
            <button id="about" class="btn bg-transparent w-10/12 h-auto p-4 mt-8 hover:bg-blue-600 text-blue-600 hover:text-white py-2 px-4 border border-blue-600 hover:border-transparent rounded-md">About</button>
            <button id="settings" class="btn bg-transparent w-10/12 h-auto p-4 mt-4 hover:bg-blue-600 text-blue-600 hover:text-white py-2 px-4 border border-blue-600 hover:border-transparent rounded-md">Settings</button>
            <hr class="w-10/12 mt-8 h-0.5 bg-zinc-400">
            <button id="backToIssue" class="bg-transparent w-10/12 h-auto p-4 mt-8 hover:bg-blue-600 text-blue-600 hover:text-white py-2 px-4 border border-blue-600 hover:border-transparent rounded-md" onclick="backToJiraIssue('$projectkey', '$issuekey')">Return to Jira ticket</button>      
          </div>
        </div>
    	</div>

        <!-- Diagram section        -->
      <div id="diagramSection">
        <div class="flex flex-auto flex-wrap mt-8">
          <div class="2xl:w-3/12 w-4/12 h-auto flex flex-col items-center bg-white box-border border-2 border-gray-200 p-4 pb-12 m-8">
            <label class="2xl:mt-8 sm:mt-4 font-sans text-xl text-blue-900 antialiased font-bold">Diagrams</label>
            <button class="bg-transparent 2xl:w-9/12 sm:w-10/12 h-auto p-4 2xl:my-4 sm:my-4 py-2 px-4 hover:bg-blue-600 text-blue-600 hover:text-white py-2 px-4 border border-blue-600 hover:border-transparent rounded-md tracking-wider" onclick="refreshDiagrams()">Refresh diagrams list</button>  
            <div class="mt-6 2xl:w-9/12 sm:w-10/12">
              <label>Filter project</label>
              <input type="text" id="filterText" oninput="searchProjects()" class="h-auto w-full px-4 py-2 mt-2 border border-gray-300 rounded-md" placeholder="🔎 Enter project title"/>    
            </div>
            <script>getProjects('$userkey')</script>
            <div class="mt-4 2xl:w-9/12 sm:w-10/12">
              <label>Or select a project from below.</label>
              <select id="projects" class="h-auto w-full px-4 py-2 mt-2 block bg-white border border-gray-300 rounded-md appearance-none" onchange="populateDiagramsInView()">
                <option value="" selected disabled>Projects</option>
              </select>
            </div>
            <div class="border-box 2xl:w-9/12 sm:w-10/12 h-48 mt-6 border border-gray-300 rounded-md overflow-auto scroll-smooth	">
              <ul id="diagrams" class="diagramsClass w-full h-full">
                <div class="flex justify-center mt-4 opacity-50">
                  <p>Select project to view diagrams list</p>
                </div>
              </ul>
            </div>
            <!-- <button class="bg-transparent w-10/12 h-auto p-4 mt-8 hover:bg-blue-900 text-blue-900 hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" onclick="insertDiagramToPreviewPanel('$baseURL')">Insert diagram</button> -->
          </div>

          <div class="box-border 2xl:w-6/12 w-8/12 p-4 h-auto m-8 flex flex-col items-center border-2 border-gray-200 bg-white">
            <label class="2xl:mt-8 sm:mt-4 font-sans text-xl text-blue-900 antialiased font-bold">Diagram preview</label>
            <div class="w-9/12 h-2/3 p-4">
              <input id="diagramTitle" class="block px-0 w-auto text-sm text-gray-900 bg-transparent appearance-none outline-none" readonly />
            <!--  <label id="diagramTitle" class="text-blue-500"></label> -->
              <div id="previewBox" class=" flex items-center justify-center box-border rounded-md h-3/5 w-full p-2 mt-4">
                <button disabled type="button" id="previewLoader" class="text-white bg-blue-600 focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 inline-flex items-center" style="display: none;">
                  <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                  </svg>
                  Loading...
                </button>
                <label class="text-gray-400" id="diagramPlaceholder">Select a diagram to preview</label>
                <label class="text-gray-400" id="diagramError" style="display: none;">Unable to display image as diagram contains syntax errors.</label>
                <img class="max-w-full max-h-full" id="previewImage" />
              </div>
            </div>
            <div class="flex flex-row space-x-8 w-fit h-auto my-2">
              <button class="bg-transparent w-fit h-auto p-4 mt-8 py-2 px-4 hover:bg-blue-600 text-blue-600 hover:text-white py-2 px-4 border border-blue-600 hover:border-transparent rounded-md tracking-wider" onclick="insertToJira('$projectkey', '$issuekey', '$baseURL')">Insert diagram into Jira</button>
              <button class="bg-transparent w-fit h-auto p-4 mt-8 py-2 px-4 hover:bg-blue-600 text-blue-600 hover:text-white py-2 px-4 border border-blue-600 hover:border-transparent rounded-md tracking-wider" onclick="openInMC('$baseURL')">Open in Mermaid Chart</button>
            </div>
          </div>
        </div>
      </div>

        <!-- Settings section        -->
      <div style="display: none;" id="settingsSection">  
        <div class="flex flex-auto flex-wrap mt-8">
          <div class=" flex flex-col items-center box-border self-center 2xl:w-1/4 sm:w-4/12 h-auto m-8 p-4 border-2 border-gray-200">
            <label class="mt-8 font-sans text-xl text-blue-900 antialiased font-bold">Settings</label>
            <div class="w-10/12">
              <div class="p-2 mt-8">
                <label class="font-semibold">Security token</label>
                #if(!$securityToken)
                  <input type="text" class="h-auto w-full p-2 my-2 border border-gray-300 rounded-md" id="securityToken" placeholder="Enter security token" />
                #else
                  <input type="text" class="h-auto w-full p-2 my-2 border border-gray-300 rounded-md" id="securityToken" value="$securityToken" />
                #end
                <p class="mt-4 font-sans text-sm antialiased font-normal tracking-tight leading-loose">To obtain a security token, go to the <a href="$baseURL/app/user/settings" target="_blank" class="text-blue-700 underline">Mermaid Chart settings</a> page.</p>
              </div>
            </div>
            <button class="bg-blue-600 w-10/12 h-auto p-4 mx-8 2xl:my-6 sm:my-4 text-white py-2 px-4 border border-blue-600 rounded-md tracking-wider" onclick="saveSettings('$userkey')">Save</button>
            <label id="savedStatus" class="text-green-500 my-4"></label>
            <label id="settingsToDiagrams" class="mb-2"></label>
          </div>      
        </div>      
      </div>


      <div id="aboutSection" style="display: none;">
        <div class="flex items-center fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="about-modal">
        <!--modal content-->
          <div class="mx-auto p-5 border w-6/12 h-auto shadow-lg rounded-md bg-white">
            <div class="flex flex-col items-center">
              <button id="modalCloseBtn" type="button" class="text-gray-400 bg-transparent hover:bg-blue-600 hover:text-white rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center" data-modal-hide="defaultModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
              <img class="w-auto h-auto" src="/jira/download/resources/com.plugin.mermaidchart.mermaidchart-plugin:mermaidchart-plugin-resources/images/mermaid-icon-32.png" />
              <div id="titleBar" class="w-full h-fit text-center mt-8">
                <label class="font-sans	text-2xl font-bold ">About Mermaid Chart</label>
              </div>
              <div id="body" class="w-10/12 h-auto my-8">
                <p class="font-sans text-base antialiased font-normal tracking-wide	text-left leading-relaxed">Easily create complex diagrams from markdown-style text and collaborate with team members in real-time with Mermaid Chart.
                <br> <br> Mermaid Chart’s Jira plugin allows you to import your diagrams into a Jira ticket and provides a link to edit your diagrams on the Mermaid Chart platform.
                <br> <br> For more info, visit our website at <a href="https://www.mermaidchart.com" target="_blank" class="text-blue-500">www.mermaidchart.com.</a> </p>
              </div>
              <!-- <div id="modalFooter" class="w-10/12 h-auto mt-12 flex justify-end  ">
                <button id="modalCloseBtn" class="bg-transparent hover:bg-blue-800 hover:text-white px-4 py-2 border-2 border-blue-500 rounded">Close</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>