<!DOCTYPE html>
<html>
  <head>
    <title>$i18n.getText("mermaid-chart-ops.listing-page-title")</title>
    <meta name="decorator" content="atl.general"/>
    $webResourceManager.requireResource("com.plugin.mermaidchart.mermaidchart-plugin:mermaidchart-plugin-resources")
  </head>
  <body>

    <div class="main">
        <!-- Sidebar-->
      <div id="sidebar-wrapper">
        <div class="list-group">
          <a class="list-group-item active" href="/jira/plugins/servlet/resourceslisting">Mermaid Chart</a>
        </div>
    	</div>

        <!-- page content        -->
      <div class="dropdown-wrapper">
        <div class="drop-down">
          $rest.setParams($userkey)
          #set($projects = $rest.getProjects())
					<select class="main-select" id="diagramSelect" onchange="getDiagrams()">
						<option value="" disabled selected>Select Projects...</option>
            #foreach($project in $projects)
							<option value="$project.getId()">$project.getTitle()</option>
              <script>
                  getDiagrams('$project.getId()', '$project.getTitle()', 'true')
              </script> 
						#end
          </select>

          <div class="input-filter">
            <input type="text" class="filter" oninput="filterDiagrams()" id="filterText" placeholder="Filter...">      
          </div>
             
          <div class="list">
            <div class="list-drop-down">
              <!-- Dropdown content -->
            <ul class="tree-leaf-item" id="list-content">
							</ul>		
              
              <div id="tree-view">
              
              #foreach($project in $projects)
                <ul id="myUL" class="dropbtn">
                  <li><span class="project-list-item" onclick="listItemClickedAction('$project.getId()', '$project.getTitle()')">$project.getTitle()</span>
                    <ul class="unordered-list-item tree-leaf-item" id="$project.getId()">
                    </ul>
                  </li>
                </ul>
              #end
              </div>
						</div>
          </div>
            <!-- insert btn -->
          <div class="insert-btn">
            <button class="" onclick="insertDiagramAction('$userkey')">Insert</button>
          </div>
      </div>
	  </div>

    #if($projectkey)
      <script>
        saveKeys('$projectkey', '$issuekey')
      </script>
    #end
  </body>
</html>
