<!DOCTYPE html>
<html>
    <head>
        <title>$i18n.getText("mermaid-chart-ops.user-page-title")</title>
        <meta name="decorator" content="atl.popup"/>
        $webResourceManager.requireResource("com.plugin.mermaidchart.mermaidchart-plugin:mermaidchart-plugin-resources")
    </head>
    <body>

    <div class="main">
            <!-- Sidebar-->
            <div id="sidebar-wrapper">
                <div class="list-group">
                    <a class="list-group-item active" href="/jira/plugins/servlet/mermaidchartops">Token Settings</a>
                    #if($securityToken != "")
                    <a class="list-group-item" href="/jira/plugins/servlet/resourceslisting">Mermaid Chart</a>
                    #end
                </div>
                </div>
            <!-- main layout -->
            <div id="page-content-wrapper">
                <h1>$i18n.getText("mermaid-chart-ops.user-page-main-heading")</h1>
                <form method='post' action='mermaidchartops' class="form">
                    <div class="input-main">
                        <label for="securityToken"><strong>$i18n.getText("mermaid-chart-ops.user-field-title")</strong></label>
                        <input type="text" class="input-field" placeholder="$i18n.getText("mermaid-chart-ops.user-field-placeholder")" name="securityToken" value="$securityToken" required />
                    </div>
                    <button type="submit" class="submit-btn">$i18n.getText("mermaid-chart-ops.button-title")</button>
                </form>
            </div>
        </div>
    </body>
</html>